/* здесь используйте глобальные переменные */
$font-primary: "Lato", "Arial", sans-serif;
$font-secondary: "Oswald", "Arial", sans-serif;
$primary-color: #000000;
$secondary-color: #ffffff;
$background-color: #ffffff;
$basic-green: #68b738;

