.feature__container {
  padding: 0;
  padding-top: 27px;
}

.feature {
  margin-bottom: 26px;
}

.feature__title {
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  padding: 0 20px;
  margin: 0;
  margin-bottom: 37px;
}

.feature__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0 20px;
  margin: 0;
  margin-bottom: 39px;
}

