.options {
  border: none;
  margin: 0;
  padding: 22px 20px 17px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 23px 27px 25px;
    border-bottom: none;
    border: 1px solid #e7e7e7;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 28px 23px;
  }
}

.options__list {
  @include reset;
}

.options__label {
  position: relative;
  display: block;
}

.options__label-name {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $additional-color;
  text-transform: uppercase;
  position: relative;
  padding-left: 45px;
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 60px;
    font-size: 20px;
    line-height: 30px;
  }
}

.options__item:not(:last-child) {
  margin-bottom: 13px;
}

.options__mark {
  @include pseudo;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.options__input[type="radio"]:checked+.options__mark::after {
  @include pseudo;
  width: 13px;
  height: 13px;
  background-color: $additional-background;
  border: 1px solid $additional-background;
  border-radius: 50%;
  top: 7px;
  left: 7px;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    top: 10px;
    left: 10px;
  }
}

.options__input {
  transition-property: border-color;
  transition-duration: 0.3s;

  &:focus + .options__mark {
    border-color: $additional-color;
    outline: 1px solid $additional-color;
  }

  &:hover + .options__mark {
    border-color: #bababa;
  }

  &:disabled ~ span {
    opacity: 0.3;
  }
}
